CLIENT_ID=replace_with_your_local_github_oauth_client_id
CLIENT_SECRET=replace_with_your_local_github_oauth_client_secret
ALLOWED_ORIGINS=http://localhost:5173
GITHUB_REDIRECT_URI=http://localhost:5173/
